@import "minxins";
*{
  box-sizing: border-box;
  list-style: none;
  padding:0;
  margin:0;
  border:0;
}
body{
  background: #fff;
  font-family: 16px/1.8 "Microsoft Yahei",verdana;
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  margin: 0;
  padding:0;
}
a{
  text-decoration: none;
}
.cow{
  overflow: hidden;
}
.col{
  float: left;
}
@include onmin{
  @for $i from 1 through 12{
    .d-#{$i}{
      width:percentage($i/12);
    }
  }
}
@include onm{
  @for $i from 1 through 12{
    .d-#{$i}{
      width:percentage($i/12);
    }
  }
}
@include onM{
  @for $i from 1 through 12{
    .m-#{$i}{
      width:percentage($i/12);
    }
  }
}
@include ons{
  @for $i from 1 through 12{
    .s-#{$i}{
      width:percentage($i/12);
    }
  }
}
#demo-canvas{
  position: relative;
}
.canvas{
  position: relative;
  z-index: 10;
}
//header开始
.header-box{
  width:100%;
  height:calc(100vh);

  #header{
    position: relative;
    width:100%;
    height:100%;
    background:url("images/header-bg.jpg") no-repeat top center;
    background-size: cover;
    .zhezhao{
      width:100%;
      height:100%;
      position: absolute;
      left: 0;
      top:0;
      background: rgba(0,0,0,0.3);
    }
    .main-title{
      height:276px;
      width:100%;
      position: absolute;
      left: 0;
      right:0;
      bottom:0;
      top:0;
      margin:auto;
      h1{
        font-size: 100px;
        margin: 0;
        text-align: center;
        margin-bottom: 15px;
        font-weight: 400;
        font-family: 'Rouge Script', cursive;
        line-height: 90px;
        color: #fff;
        letter-spacing: 1px;
        word-spacing: 6px;
        text-shadow: -2px -2px #000;
      }
      p{
        font-size: 27px;
        padding-top:30px;
        margin-bottom: 60px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 56px;
        word-spacing: 2px;
        text-shadow: 2px 2px #1C2725;
        letter-spacing: 2px;
        text-transform: capitalize;
        text-align: center;
      }
    }
    @include ons{
      .main-title{
      h1{
        font-size: 70px;
      }
      }
    }
  }
}
.clear{
  clear: both;
}

.header_wrapper{
  position: relative;
  z-index:20000;
  width:100%;
  height:auto;
  //background: #a1d608;
  background-color: rgba(144, 146, 153, 0.94);
  //padding: 10px 0px;
  border-top: 0px solid #FFFFFF;
  box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.44);
  text-align: center;
  &.active{
    position:fixed;
    top:0;
    left:0;
  }
  .nav{
    padding:0 15px;
    text-align: center;
    font-family:'Open Sans', sans-serif;
    height:auto;
    width:100%;
    margin:0 auto;

    .nav-bar{
      display: none;
    }
    ul {
      text-align: center;
      //width:560px;
      margin:0 auto;
      display: inline-block;

      li{
        float:left;
        margin:0 15px;
        a{
          display: block;
          font-size: 18px;
          line-height: 20px;
          color: #fff;
          font-family: 'Open Sans', sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          padding: 16px 0;
          &:hover{
            //color: #fff;
            background-color: rgba(0, 255, 255, 0.58);
          }
        }
      }
      &>li:nth-child(1){
        //margin: 0 0 0 23px;
      }
    }
  }
}
@include ons{
  .header_wrapper .nav .nav-bar{
    width:100%;
    display: block;
    &.active{
      border-bottom:1px solid #fff;
    }
    button{
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      .icon-bar{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        margin-bottom:4px;
      }
    }
  }
  .header_wrapper .nav ul{
    display: none;
    width:80%;
    min-width:325px;
    margin: 7.5px 15px;
    float: right;
    li{
      width:20%;
      margin:0;
      a{
        font-size: 16px;
        //padding: 10px 11px;
      }
    }

  }
}
//header结束
.aboutUs{
  //background: #fff;
  height:750px;
  background-color: rgb(224, 247, 246);
  .about-us{
    width:100%;
    height:650px;
    margin-bottom: 50px;
    position:relative;
    .contain{
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -130px;
    }
    .contain-box{
      position: relative;
      width: 300px;
      height: 400px;
      transition: all 0.5s;
      transition-delay: 0.7s;
      margin: 0 auto;
      .contain-photo{
        position: relative;
        width: 300px;
        height: 440px;
        overflow: hidden;
        background-color: #eee;
        border-radius: 5px;
        top: -20px;
        float: left;
        z-index:2;
        transition: all 0.5s;
        box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
        .photo-img{
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 5px;
          img{
            width: 100%;
            opacity: 0.7;
            transform: scale(1.3);
            transition: all 0.5s;
            &:hover{
              transform: scale(1.5);
            }
          }
        }
        .date{
          position: absolute;
          bottom: -185px;
          //bottom:0;
          height: 200px;
          border-radius: 5px;
          background: linear-gradient(to bottom, transparent 2%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.8) 68%, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 101%);
          width: 100%;
          transition: all 0.5s;
          transition-delay: 1.2s;
          padding-left: 20px;
          box-sizing: border-box;
          h3{
            margin-top: 50px;
            color: #fff;
            font-size: 20px;
            margin-bottom: 8px;
          }
          p{
            margin-bottom: 6px;
            color: #fff;
            width: 80%;
            text-align: left;
            font-size: 14px;

          }
        }
        &:hover{
          .date{
            bottom:0;
          }
        }
      }
      .contain-text{
        position: absolute;
        width: 0;
        top: 0;
        left: 290px;
        margin-left: 10px;
        height: 400px;
        float: left;
        border-radius: 5px;
        z-index: 3;
        box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
        background: #fbf9f9;
        background: linear-gradient(135deg, #fbf9f9 28%, #e8eaed 100%);
        transition: all 0.5s;
        transition-delay: 0.7s;
        .text-box{
          position: relative;
          float: left;
          width: 100%;
          height: 400px;
          overflow: hidden;
          .tabs{
            position: relative;
            float: left;
            width: 410px;
            height: 60px;
            border-bottom: 3px solid #EDEDEC;
            h2{
              margin:18px 40px;
              padding:0;
              font-size: 14px;
            }
          }
          .title1{
            position: relative;
            float: left;
            margin: 10px 0px;
            width: 410px;
            p{
              font-weight: 700;
              font-size: 14px;
              margin-left: 40px;
              text-align: left;
              color: #36354E;
            }
          }
          .text{
            position: relative;
            float: left;
            p{
              margin: 5px 0px;
              margin-left: 50px;
              border-left: 2px solid #E3E3E3;
              font-size: 12px;
              padding: 20px 0px;
              padding-left: 20px;
              text-align: left;
              padding-right: 15px;
              color: #565656;
            }
          }
        }
      }
      .btn-open{
        position: absolute;
        right: -15px;
        top: 50%;
        z-index: 8;
        a{
          display: block;
          padding-top: -5px;
          width: 30px;
          height: 30px;
          background-color: #55b6a8;
          border-radius: 50%;
          color: #fff;
          box-shadow: 0px 0px 5px -2px #000;
          transition: all 0.5s;
          transform: rotate(360deg);
          font-size: 20px;
          text-align: center;
          line-height: 28px;
        }
      }
      &.active{
        width:700px;
        .contain-text{
          width:410px;
          z-index: 1;
          .btn-open a{
            transform: rotate(0deg);
          }
        }
        .contain-photo{
          box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.7);
          .date{
            bottom:0;
          }
        }
      }
    }
    &>h2{
      color: rgb(0, 129, 129);
      font-family: 'Milonga', cursive;
      font-size: 34px;
      letter-spacing: -1px;
      margin: 0 0 15px;
      text-align: center;
      padding-top:60px;
      text-transform: uppercase;
      opacity: 0;
      transform: translate3d(0,-300px,0);
    }
    h6{
      font-size: 16px;
      color: #888888;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      text-align: center;
      margin: 0 0 60px 0;
      opacity: 0;
      transform: translate3d(0,-600px,0);
    }
  }
  &.active .about-us{
    h2{
      transition:all 0.8s ease;
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    h6{
      transition:all 1s ease;
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}

.skill{
  width:100%;
  padding: 60px 0;
  background:rgb(85,182,168);
  .contain{
    padding-right: 15px;
    padding-left: 15px;
    width:1170px;
    margin:0 auto;
    h2{
      font-size: 38px;
      color:#fff;
      font-family: 'Milonga', cursive;
      font-weight: normal;
      margin: 0 0 25px 0;
      text-align: center;
      text-transform: uppercase;
    }
    h6{
      font-size: 16px;
      color: rgb(234, 234, 234);
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      text-align: center;
      margin: 0 0 60px 0;
    }
    .row{
      margin-right: -15px;
      margin-left: -15px;
      .d-3{
        .icon{
          position:relative;
          width:100%;
          height:150px;
          margin: 0 auto;
          visibility: visible;
          .canvas{
            @include juzhong;
            margin:0 auto;
            transition: transform 0.8s ease;
            transform: scale(0,0);
          }
          span{
            background: rgb(161, 214, 8);
            display: block;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            padding-top: 12px;
          }
        }
        .inner{
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;
          position: relative;
          h3{
            //font-family: 'Raleway', sans-serif;
            font-family:"Lucida Sans","Liberation Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;;
            font-weight: 600;
            font-size: 18px;
            color: #636363;
            margin: 35px 0 15px;
          }
          p{
            font-size: 14px;
            color: #636363;
            margin: 0 0 35px 0;
          }
        }
      }
    }
    @include onm{
      width:970px;
    }
    @include onM{
      width:750px;
    }
    @include ons{
      width:100%;
    }
  }
  &.active{
    .contain .row .d-3 .icon .canvas{
      transform: scale(1,1);
    }
  }
}

.works{
  padding: 60px 0;
  overflow: hidden;
  background-color: rgb(224, 247, 246);
  &.active{
    .contain .row{
      transition: transform 0.8s ease;
      transform: translate3d(0,0,0);
    }
  }
  .contain{
    width:1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto;

    h2{
      color: rgb(0, 129, 129);
      font-family: 'Milonga', cursive;
      font-size: 34px;
      letter-spacing: -1px;
      margin: 0 0 15px;
      text-align: center;
      text-transform: uppercase;
    }
    h6{
      font-size: 16px;
      color: #888888;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      text-align: center;
      margin: 0 0 60px 0;
    }
    .row{
      width:100%;
      height:auto;
      transition: transform 0.8s ease;
      .col{
        height:240px;
        padding:10px;
        .kapian{
          width:100%;
          height:100%;
          background: rgba(0,0,0,0.5);
          background-image: url("images/tmicon.jpg");
          background-size: cover;
          background-position: center center;
          .mask-box{
            width:100%;
            height:100%;
            overflow: hidden;
            position: relative;
            .mask{
              width:100%;
              height:100%;
              background: rgba(0,0,0,0.5);
              transition:transform 0.3s ease;
              transform:translate3d(0,300px,0);
              overflow: hidden;
              position: relative;
              a{
                display: block;
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
                h2{
                  text-align: center;
                  height:60px;
                  position: absolute;
                  left:0;
                  right:0;
                  top:60px;
                  margin:0 auto;
                  font-family: 'Milonga', cursive;
                  font-weight: 500;
                  font-size: 30px;
                  color: #fff;
                }
                span{
                  display:inline-block;
                  font-size: 20px;
                  padding:7px 20px;
                  border-radius: 5px;
                  position: absolute;
                  left:50%;
                  top:150px;
                  margin-left: -60px;
                  color:#fff;
                  font-weight:bold;
                  border:1px solid #fff;
                  letter-spacing: 5px;
                  transition: all ease .3s;
                  &:hover{
                    transition: all ease .3s;
                    background: rgba(0,255,255,0.8);
                  }
                }

              }
            }

          }
          &:hover .mask{
            transition:transform 0.3s ease;
            transform:translate3d(0,0,0)
          }
        }
        .yintai{
           background-image: url("images/yintai.jpg");
         }
        .apple{
          background-image: url("images/apple.jpg");
        }
        .tianmao{
          background-image: url("images/tianmao.jpg");
        }
        .music{
          background-image: url("images/music.jpg");
        }
        .clock{
          background-image: url("images/clock.jpg");
        }
        .wuziqi{
          background-image: url("images/wuziqi.jpg");
        }
        .poker{
          background-image: url("images/poker.jpg");
        }
        .snake{
          background-image: url("images/snake.jpg");
        }
        .wait{
          background-image: url("images/waiting.jpg");
        }
      }
    }
    @include onm{
      width:100%;
    }
    @include onM{
      width:750px;
    }
    @include ons{
      width:100%;
      .row{
        max-width: 360px;
        margin:0 auto;
        width:100%;
      }

    }
  }

}
.n1,.n2,.n3,.n4,.n5,.n6,.n7,.n8,.n9{
  transform: translate3d(0,500px,0);
  opacity: 0;
}

.works.active {
  @for $i from 1 through 9 {
    .n#{$i} {
      transition: transform $i*0.2s ease, opacity $i*0.2s ease;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}
//footer
.footer {
  width: 100%;
  padding: 60px 0 0 0;
  //background: #343434;
  background-color: rgba(33, 103, 88, 0.9);
  //background: #55b6a8;
  //background-image: url("images/contact-bg.jpg");
  .contain {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    overflow: hidden;
    h2 {
      color: #fff;
      font-family: 'Milonga', cursive;
      font-size: 40px;
      letter-spacing: -1px;
      margin: 0 0 15px;
      text-align: center;
      text-transform: uppercase;
      transition: transform 0.8s ease;
      transform: translate3d(0, -100px, 0);
    }
    h6 {
      font-size: 26px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      text-align: center;
      margin: 0 0 60px 0;
      transition: transform 0.8s ease;
      transform: translate3d(0, -150px, 0);
    }
    .row {
      padding-bottom: 100px;
    }
    .d-4 {
      transition: transform 0.8s ease, opacity 0.8s ease;
      opacity: 0;
      transform: translate3d(-150px, 0, 0);
      .contact_info {
        font-size: 15px;
        margin: 0 0 0 20px;
        padding-left: 0;
        .detail {
          h4 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            color: #fff;
          }
          p {
            line-height: 28px;
            display: block;
            font-size: 16px;
            color: #fff;
            margin: 0 0 30px;
          }
        }
      }
    }
    .d-8 {
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      transition: transform 0.8s ease, opacity 0.8s ease;
      opacity: 0;
      transform: translate3d(150px, 0, 0);
      .form {
        margin: 0 66px 0 30px;
        .form-control {
          display: block;
          width: 100%;
          padding: 16px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #fff;
          background-color: transparent;
        }
        p {
          width: 100%;
          height: 5px;
        }
        input {
          display: block;
          width: 100%;
          height: 34px;
          padding: 16px 12px;
          font-size: 14px;
          line-height: 1.5;
          color: #fff;
          background-color: transparent;
          border: 1px solid #fff;
          border-radius: 4px;
        }
        textarea {
          resize: none;
          height: auto;
          border: 1px solid #fff;
        }
        button {
          width: 100%;
          padding: 10px;
          letter-spacing: 0px;
          background: transparent;
          border-radius: 3px;
          color: #ffffff;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          border: 1px solid #fff;
          float: right;
          transition: all 0.5s;
          &:hover {
            color: #286090;
            background-color: #fff;
          }
        }
      }
    }
    @include onm {
      width: 970px;
    }
    @include onM {
      width: 750px;
      .m-12 .form {
        margin: 0;
      }
    }
    @include ons {
      width: 100%;
    }
    .copy {
      color: #fff;
      font-family: "Lucida Sans", "Liberation Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;;
      padding: 14px 0;
      text-align: center;
    }
  }
  &.active .contain {
    .row > .col, h2, h6 {
      transition: transform 0.8s ease, opacity 0.8s ease;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

  }
}

